
.idea/dataSources.xml
.idea/dataSources/86f02019-dcaf-44aa-b211-bd0cb843127c.xml
.idea/marathon-scrape-v2.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
target
.idea
*.csv
*.log
